<div class="container">
  <div class="abs-center">
    <br />
    <div class="text-center">
      <h2>123123123145</h2>
    </div>

    <form [formGroup]="form003" novalidate class="border p-3 form">
      <app-expansion-panel></app-expansion-panel>
      <app-expansion-panel></app-expansion-panel>
      <br />

      <br />
      <button
        id="boton3"
        type="submit"
        class="btn btn-primary"
        routerLink="/maqueta003"
      >
        Siguiente
      </button>
    </form>
  </div>
</div>
