      <div class="container">
        <div class="abs-center">
          <div class="text-center">
            <h1>Presentar CRA</h1>
          </div>
          <form action="#" class="border p-3 form" [formGroup]="craForm" (ngSubmit)="onSubmit()">
            <div class="form-group" style="margin-bottom: 15px;">
              <app-regimen ngDefaultControl formControlName="firstInput"></app-regimen>
              <app-ccc ngDefaultControl formControlName="secondInput"></app-ccc>
            </div>
            <div class="form-group ">
              <app-monthpicker
              id="desde"
              [parametro]="'Desde'"
            ></app-monthpicker>
            <app-monthpicker
              id="Hasta"
              [parametro]="'hasta'"
            ></app-monthpicker>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Continuar</button>
          </form>
        </div>
      </div>


