      <div class="container">
        <div class="abs-center">
          <div class="text-center">
            <h1>Presentar CRA</h1>
          </div>
          <form action="#" class="border p-3 form" [formGroup]="craForm" >
            <div class="form-group" style="margin-bottom: 15px;">
              <app-regimen ngDefaultControl formControlName="firstInput"></app-regimen>
              <app-ccc ngDefaultControl formControlName="secondInput"></app-ccc>
            </div>
            <div class="form-group ">
              <app-range-picker></app-range-picker>
            </div>
            <button id="boton1"
                    type="submit"
                    class="btn btn-primary"
                    (click)="onSubmit()"
                    [disabled]="!craForm.valid"
                    routerLink="/maqueta002"
                    >
                    Continuar
            </button>
          </form>
        </div>
      </div>


