<div class="container">
  <div class="abs-center">
    <div class="text-center">
      <h1>Presentar CRA</h1>
    </div>
    <form [formGroup]="form002" novalidate class="border p-3 form">

      <div class="obligatorios">
        <h3 style="background-color: #3F51B5">Obligatorios</h3>
        <mat-selection-list #naf>
          <mat-list-option *ngFor="let naf of nafObligatorio">
            {{naf}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <br>

      <br>
      <button id="boton1" type="submit" class="btn btn-primary" routerLink="/maqueta001" (click)="booleanVar ? funcion1() : funcion2()">
        {{ naf.selectedOptions.selected.length !== 0 ? 'Siguiente' : 'Terminado' }}
      </button>

    </form>
  </div>
</div>
