<div class="container">
  <div class="abs-center">
    <div class="text-center">
      <h1>Presentar CRA</h1>
    </div>
    <form action="#" class="border p-3 form">

      <div class="obligatorios">
        <h3 style="background-color: #3F51B5">Obligatorios</h3>
        <app-list></app-list>
      </div>
      <br>

      <div class="opcionales">
        <h3 style="background-color: #3F51B5">Opcionales</h3>
        <app-list2></app-list2>
      </div>

      <br>
      <button id="boton1" type="submit" class="btn btn-primary">
        Siguiente
      </button>

    </form>
  </div>
</div>
