
<br>
<br>
<div class="container">
  <div class="abs-center">

    <form [formGroup]="form003" novalidate class="border p-3 form">

      <h2>NAF 031052486829 - CAF BiBoG</h2>
      <mat-tab-group>
        <mat-tab label="CRA001- Retribución no incluida en otros apartados.">
          <br>
          Importe Incluido: <input matInput style="width: 75px; height: 22px; margin-right: 7px;">
          Importe Excluido: <input matInput style="width: 75px; height: 22px">
        </mat-tab>
        <mat-tab label="CRA042- Gastos de estancia">
          <br>
          Importe Incluido: <input matInput style="width: 75px; height: 22px; margin-right: 7px;">
          Importe Excluido: <input matInput style="width: 75px; height: 22px">
        </mat-tab>
        <mat-tab label="CRA062- Gastos de teletrabajo">
          <br>
          Importe Excluido: <input matInput style="width: 75px; height: 22px">
        </mat-tab>
      </mat-tab-group>
      <br>
      <br>
      <br>
      <h2>NAF  280263873740 - CAF VeSaS</h2>
      <mat-tab-group>
        <mat-tab label="CRA001 - Retribución no incluida en otros apartados">
          <br>
          Importe Incluido: <input matInput style="width: 75px; height: 22px">
        </mat-tab>
      </mat-tab-group>
      <br>
      <br>
      <br>
      <h2>NAF  281133989146 - CAF MaSaS</h2>
      <mat-tab-group>
        <mat-tab label="CRA042 - Gastos de estancia">
          <br>
          Importe Incluido: <input matInput style="width: 75px; height: 22px; margin-right: 7px;">
          Importe Excluido: <input matInput style="width: 75px; height: 22px">
        </mat-tab>
        <mat-tab label="CRA062 - Gastos de teletrabajo">
          <br>
          Importe Excluido: <input matInput style="width: 75px; height: 22px">
        </mat-tab>
      </mat-tab-group>

      <br>
      <br>
      <button id="boton2" type="submit" class="btn btn-primary" style="margin-right: 22px;">
        Volver
      </button>

      <button id="boton3" type="submit" class="btn btn-primary">
        Terminar
      </button>

    </form>
  </div>
</div>
